body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    font-family: 'Comic Sans MS';
}
a{
    font-family: 'Comic Sans MS';
}
#mainNav{
    background-color:cadetblue;
}
.small-header{
    
    color: rgb(30, 113, 116);
}
.site-heading-lower{
    color:darkslategrey;
}
.footer {
    background-color:cadetblue;
}
.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(47, 79, 79, 0.856);}

    .bg-faded {
        background-color: cadetblue;}

.btn-xl {
    background-color: rgb(107, 223, 227)
}

.backtotop{
    color: cadetblue;
    text-align:center;
    text-size-adjust: 200%;
}